body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    overflow: hidden;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 200;
    font-size: 18px;
    color: #ffffff1f;
}

h2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 5em;
    width: 20em;
    white-space: nowrap;
    text-align: center;
}

